{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <form action="{% url 'show' %}" method="post">
        {% csrf_token %}
        Source: <input type="text" name="handle" value=""><br>
        Destination: <input type="text" name="handle2" value=""><br>
        <input type="submit" value="Submit">
        <span></span>
    </form>
    {% if flag %}
    <div class="popup" action="{% url 'index' %}">Not a valid Location or not scaled to the map.Click me!
        <span class="popuptext" id="myPopup">Not a valid location</span>
    </div>
    {% endif %}
  </body>
</html>
