<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_940f2eea042a5571916a5436aa306625 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_940f2eea042a5571916a5436aa306625" ></div>
        
</body>
<script>
    
    
            var map_940f2eea042a5571916a5436aa306625 = L.map(
                "map_940f2eea042a5571916a5436aa306625",
                {
                    center: [33.94437445458944, -117.40479627822407],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7bf842ddfdfdc769a23c3fb8d5f56409 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_9510708cf05f30d2399f66d4b8c48530 = L.polyline(
                [[33.9301834, -117.4933281], [33.9281987, -117.4912307]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_891aef8cd9a5f817459c981f67053df8 = L.polyline(
                [[33.9281987, -117.4912307], [33.9285851, -117.490168]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_f363eac3d550a9407e8cb8d98bd7149d = L.polyline(
                [[33.9285851, -117.490168], [33.924614, -117.488281]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_3d7dc725ae603e50210b1a78bc6e8fd4 = L.polyline(
                [[33.924614, -117.488281], [33.9230629, -117.4862511]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_3df3a1d64a8c3cf67d36092da055111d = L.polyline(
                [[33.9230629, -117.4862511], [33.9223296, -117.4851664]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_bc9acd91a774e7e2228ba0b9a6fa16eb = L.polyline(
                [[33.9223296, -117.4851664], [33.9216174, -117.4859174]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_cd082743b320c9cbae579b3afdebfcc3 = L.polyline(
                [[33.9216174, -117.4859174], [33.9208518, -117.4867543]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_6bf421f9a8a4414c8d4e39e555c9fbd5 = L.polyline(
                [[33.9208518, -117.4867543], [33.9195602, -117.4858763]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_7bb71723c6d631b377c8f7001307656c = L.polyline(
                [[33.9195602, -117.4858763], [33.9186527, -117.4852201]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_3d28c6bb995ca12ff3de77b0129e4560 = L.polyline(
                [[33.9186527, -117.4852201], [33.9176556, -117.4854454]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_c91edf74f41994cc3d9a91343efb800c = L.polyline(
                [[33.9176556, -117.4854454], [33.9154968, -117.4859409]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_a0883462aa71597db69fdf47f5abc39f = L.polyline(
                [[33.9154968, -117.4859409], [33.9154218, -117.4860721]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_864a54d011e2f7048ef32a3b48a2d616 = L.polyline(
                [[33.9154218, -117.4860721], [33.9137169, -117.4846753]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_12541862c2cc2491ab348a763edbb5c8 = L.polyline(
                [[33.9137169, -117.4846753], [33.9117882, -117.4831591]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_51632b68e5c3c388c8c6bd6cbe5abfca = L.polyline(
                [[33.9117882, -117.4831591], [33.9106982, -117.4822662]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_c0f7d607b9e301ff3e609ba4f6eb84aa = L.polyline(
                [[33.9106982, -117.4822662], [33.9100952, -117.4817705]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_f923921c7a598993bc7034baa7ff9113 = L.polyline(
                [[33.9100952, -117.4817705], [33.9090351, -117.480898]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_3ba8d218b79b4948155a0f9a53659b42 = L.polyline(
                [[33.9090351, -117.480898], [33.9077401, -117.4798564]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_8b0367930985dab74731d560712ea3d8 = L.polyline(
                [[33.9077401, -117.4798564], [33.9068711, -117.4791556]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_ea60bcc80f5c30b638e6714ad1d9f71d = L.polyline(
                [[33.9068711, -117.4791556], [33.9054533, -117.4779457]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_4942a16f71421886f5c158ce743af2b2 = L.polyline(
                [[33.9054533, -117.4779457], [33.9035373, -117.476375]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_d12b0f9b200183cd62e51880543c0d8a = L.polyline(
                [[33.9035373, -117.476375], [33.9034626, -117.4763132]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_217de1f2ccb9944700254a5ab20e7cad = L.polyline(
                [[33.9034626, -117.4763132], [33.9033728, -117.476229]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_6ee61dbcee07fbb3392d1b8dbaf66cdd = L.polyline(
                [[33.9033728, -117.476229], [33.9016863, -117.4748632]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_0548dc648fd257a134a26c831b1d3a5e = L.polyline(
                [[33.9016863, -117.4748632], [33.900815, -117.4740604]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_720615c814094f4fc327bb2ea0f59938 = L.polyline(
                [[33.900815, -117.4740604], [33.8995452, -117.4729507]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_e21079702b370c8b86e193dfccd9a352 = L.polyline(
                [[33.8995452, -117.4729507], [33.9013278, -117.467778]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_9e2621c0ff7ac46565fc1b84938dd147 = L.polyline(
                [[33.9013278, -117.467778], [33.9044195, -117.4600423]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_f3692fe1c5d735ad120aaccc466bd8b3 = L.polyline(
                [[33.9044195, -117.4600423], [33.9081596, -117.4534805]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_de84cabf822ce36b02a63766d6031297 = L.polyline(
                [[33.9081596, -117.4534805], [33.9115482, -117.4475264]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_e52bb556cbf921230985f49a7d0b5157 = L.polyline(
                [[33.9115482, -117.4475264], [33.9154929, -117.4405505]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_5188d5b2bce2aee6447ca941c3c56a9d = L.polyline(
                [[33.9154929, -117.4405505], [33.91727, -117.4374549]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_e3be9f8201504159592f6d05f0f85ec6 = L.polyline(
                [[33.91727, -117.4374549], [33.9252618, -117.4234153]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_bcfbc6802ad3a21305de6899ceb8dfde = L.polyline(
                [[33.9252618, -117.4234153], [33.9291304, -117.4166006]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_30300e11a8e120fe49cfe9cd91a62595 = L.polyline(
                [[33.9291304, -117.4166006], [33.9340518, -117.4079372]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_71bd04f6915f95c17a33381e77d89368 = L.polyline(
                [[33.9340518, -117.4079372], [33.9379286, -117.4009946]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_020eb8d730e7aa45bb053462085f70d3 = L.polyline(
                [[33.9379286, -117.4009946], [33.9433512, -117.3926877]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_6a0fa260cfe2288723888eec9ae359a0 = L.polyline(
                [[33.9433512, -117.3926877], [33.9461676, -117.3887772]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_3e403793b61d3de3940ec5535afb5e42 = L.polyline(
                [[33.9461676, -117.3887772], [33.9493485, -117.3858643]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_5163b0c13f0cfa1dd4144b4d08f5ff1e = L.polyline(
                [[33.9493485, -117.3858643], [33.9504276, -117.3854793]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_0ce6c83bae764d0df0b8fb449fab1c48 = L.polyline(
                [[33.9504276, -117.3854793], [33.9564831, -117.3799283]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_3fde121881af8f45b076211da0e02804 = L.polyline(
                [[33.9564831, -117.3799283], [33.9704547, -117.3752712]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_130dcb6de1aad92814832b5de87bd19e = L.polyline(
                [[33.9704547, -117.3752712], [33.9735121, -117.3727502]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_6b77b6cb3ed354fe448c7dac4104ab1b = L.polyline(
                [[33.9735121, -117.3727502], [33.9776347, -117.3714336]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_e7fc30be2a1a681b4f914b0fc2d79152 = L.polyline(
                [[33.9776347, -117.3714336], [33.9833259, -117.3662859]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_ac4c52589eebc5209fb743494eb1d7bc = L.polyline(
                [[33.9833259, -117.3662859], [33.9870065, -117.3637307]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_9735d52900446c92bf50d7ccc815dc61 = L.polyline(
                [[33.9870065, -117.3637307], [33.9889669, -117.3610447]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_23f2b8e95c90408ac5a698f82caab622 = L.polyline(
                [[33.9889669, -117.3610447], [33.9908194, -117.3522949]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_3639dda03cb75224cac781b329b89441 = L.polyline(
                [[33.9908194, -117.3522949], [33.9874688, -117.347633]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_42f7d968909cdf6c4ae744eff49c04ef = L.polyline(
                [[33.9874688, -117.347633], [33.9865497, -117.3466829]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_c2fd1a923f46e0f2f3aa444fe5274731 = L.polyline(
                [[33.9865497, -117.3466829], [33.9804968, -117.3404599]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_f15334e0c8950152f332137eee646f4f = L.polyline(
                [[33.9804968, -117.3404599], [33.9786333, -117.3385311]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_c0e7f7fdec263fd9cc6020eb0a971252 = L.polyline(
                [[33.9786333, -117.3385311], [33.9731278, -117.3328773]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_a340c0ac22244f4e227b8cfde29ec774 = L.polyline(
                [[33.9731278, -117.3328773], [33.9716667, -117.3314281]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_3799465943be449c408b43c507103c94 = L.polyline(
                [[33.9716667, -117.3314281], [33.9685065, -117.3289509]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_44b09c9d7aceca49900e9e5e1b853d38 = L.polyline(
                [[33.9685065, -117.3289509], [33.9681864, -117.3311311]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_f7924a3f84b2c1261c84af4dba4843b5 = L.polyline(
                [[33.9681864, -117.3311311], [33.9682807, -117.3398656]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_27f1866ddc587ed3fb8dc177237f41f2 = L.polyline(
                [[33.9682807, -117.3398656], [33.9682795, -117.3399739]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_c0ccac61c7f17dc99cb8a4ea9e4a2aa5 = L.polyline(
                [[33.9682795, -117.3399739], [33.9682302, -117.3484948]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_5833eb38ab7decccdfc27f16380a5bf1 = L.polyline(
                [[33.9682302, -117.3484948], [33.9680993, -117.3484984]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_2d278013e57ffcb84eedf13e9421712f = L.polyline(
                [[33.9680993, -117.3484984], [33.9659631, -117.3484862]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            var poly_line_9c1cdfc4dc267168f0b2ce65541c6abe = L.polyline(
                [[33.9659631, -117.3484862], [33.9621224, -117.3484538]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_940f2eea042a5571916a5436aa306625);
        
    
            map_940f2eea042a5571916a5436aa306625.fitBounds(
                [[33.8995452, -117.4933281], [33.9908194, -117.3289509]],
                {}
            );
        
</script>
</html>